<template>
  <div class="layout-header">
    <div class="right-panel">
      <langs-switch />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.layout-header {
  @include flexRsb;
  height: 60px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  position: fixed;
  color: $onSecondary;
  .right-panel {
    @include flexR;
    @include flexRGap(10px);
    justify-content: flex-end;
  }
}
</style>
