$primary: #3366ff;
$onPrimary: #ffffff;
$secondary: #000;
$onSecondary: #fff;
$background: #f7f8fa;
$onBackground: #171e29;
$surface: #f7f8fa;
$onSurface: #171e29;
$lightText: #a6a6a6;
$radius: 10px;
$devider: #e5e5e5;

$shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
