<script setup lang="ts">
import { ModalsContainer } from 'vue-final-modal'
import { NConfigProvider } from 'naive-ui'
import { themeOverrides } from '~/utils'
</script>

<template>
  <n-config-provider :theme-overrides="themeOverrides">
    <div>
      <LayoutHeader />
      <slot />
      <LayoutFooter />
      <ModalsContainer />
      <WalletPanelDialog />
    </div>
  </n-config-provider>
</template>
