<script lang="ts" setup>
import { useWallet } from '~~/store/wallet'

const wallet = useWallet()
const { activeEvmWallet } = wallet
const { $yapi } = useNuxtApp()
const { data, error, refresh } = useAsyncData('token', () =>
  $yapi.swapTokens({ pageNo: 1, pageSize: 10, network: 'eth_goerli' })
)
refresh()
</script>
<template>
  <!-- Nuxt automatically imports any components in your components/ directory -->
  <div class="homepage">
    <HomeConnect />
    {{ activeEvmWallet?.accounts[0].address }}
    {{ data?.totalPage || error }}
  </div>
</template>

<style lang="scss" scoped>
.homepage {
  height: 400px;
  @include flexCc;
}
</style>
